
h1 {
  color: #12776f;
  font-size: 32pt;
  margin-top: 0;
}

h2 {
  color: #12776f;
  font-size: 20pt;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 13pt;
  color: #083531;
  background-color: #e7f5f2;
  margin: 50px;
}

div {
  background-color: #ffe1e6;
}

a:link {
  color: #12776f;
  font-weight: bold;
}

a:visited {
  color: #3da89f;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 50px;
  border-radius: 10px;
  border-style: dashed;
  border-width: 50px;
  border-color: #12776f;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    border-width: 20px;
    padding: 20px;
  }

  body {
    margin: 20px;
  }

  h1 {
    font-size: 26pt;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}